* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: relative;
}

nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 50px;
    background-color: #212121;
}

.menu {
    
    display: flex;
    justify-content: space-between;

    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    color: #FFF;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item:nth-last-child(n + 2) {
    border-right: 2px dotted #000;
    padding-right: 48px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #FFF;
    font-size: 13px;
}

.subheader_call {
    margin-top: 19px;
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-weight: 300;
}

.subheader_phone {
    margin-top: 8px;
    display: block;
    color: #FFF;
    text-align: right;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 12px;
}

.subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;

    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url(../img/bg/main_bg.jpg) center center/cover no-repeat;
    padding: 150px 0 135px;
}

.promo_header {
    color: #FFF;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;

}

.promo_subheader {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 22px;
}

.promo_descr {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    margin-top: 23px;
}

.promo_btn {
    margin: 118px auto 0 auto;
    display: block;
    width: 259px;
    height: 63px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;

    color: #FFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    font-size: 18px;
    text-transform: uppercase;
}

.benefits {
    padding: 20px 33px 64px;
}

.benefits_subtitle {
    display: flex;
    margin: 0 auto;
    width: 113px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background: #000;

    color: #FFF;
    font-size: 11px;
    line-height: 11px; /* 100% */
    text-transform: uppercase;
}
.benefits_title {
    color: #222;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    margin: 0;
    margin-top: 33px;
    margin: 33px 0 16px;
}

.benefits_card {
    display: flex;
    justify-content: center;
}

.benefits_card:nth-last-child(n + 2) {
    height: 150px;
    margin-bottom: 26px;
}

.benefits_card:nth-last-child(n + 2) .card_img-block {
    top: 50%;
    transform: translateY(-50%);
}

.card_img-block {
    position: relative;
    
    min-width: 116px;
    height: 116px;
    background-color: #1eacc7;
    border-radius: 50%;
}   

.card_img-block img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card_text {
    max-width: 371px;
    padding-left: 25px;
    line-height: 21px; /* 123.529% */
}
.card_text-title {
    color: #1EACC7;
    font-size: 17px;
}
.card_text-descr {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
}